body{
    margin: 0;
    padding: 0;
}
header{
    display: block;
    width: 100%;
    height: 52px;
    background-color: #388DE7;
}
#logo{
    float: left;
    width: 83px;
    height: 83px;
    background-color: orange;
    border-radius: 50%;
}
#logo_text{
    margin: 0;
    color: white;
    font-size: 25px;
}
#container{
    width: 100%;
    height: 500px;
    background-color: white;
}
.row{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.row > div{
    width: 50%;

}
.left{
    display: flex;
    align-items: center;
    justify-content: right;
}
.right{
    display: flex;
}
p{
    margin: 5px;
}
i{
    margin: 5px;
}
input{
    margin: 5px;
}
.content_text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    margin: 10px;
    color: #154C9C;
}
h3{
    margin: 10px;
    color: #23A3EE;
}
label{
    margin: 5px;
}

#submit_div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
#submit_box{
    margin: 10px;
    width: 500px;
    height: 50px;
    background-color: whitesmoke;
    border: 2px solid lightgray;
}
#submit{
    float: right;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #00BA01;
    color: white;
    border-radius: 5px;
}
footer{
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 300px;
    background-color: #388DE7;
}
.footer_content{
    display: flex;
    justify-content: center;
    width: 50%;
}
.service_li{
    color: white;
    margin: 5px;
}
