body{margin: 0;}

#container{
    width: 960px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
}

#left{
    width: 180px;
    height: 400px;
    display: inline-block;
    background-color: gray;
    vertical-align: top;
    padding: 10px;
}

#content{
    width: 560px;
    height: 400px;
    display: inline-block;
    margin-left: -4px;
}

#right{
    width: 180px;
    height: 400px;
    display: inline-block;
    background-color: gray;
    vertical-align: top;
    padding: 10px;
    margin-left: -4px;
}