body{
    background-color: dimgray;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.backwards {
    display: inline;
    font-size: 100px;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}