@font-face {
    font-family: nsfont;
    src: url("fonts/nssanbol-webfont.ttf");
}

.center_row{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}
.center_col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-family: nsfont, sans-serif;
    font-size: 50px;
    margin: 0;
    margin-top: 33px;
    color: #000066;
}
h2{
    font-family: nsfont, sans-serif;
    position: absolute;
    font-size: 40px;
    color: #000066;
    margin: 0;
}
p{
    font-family: nsfont, sans-serif;
    font-size: 27px;
    margin: 0;
    color: #000066;
}
#platform{
    height: 340px;
    width: 140px;
    background-color: #000066;
}
#spoor_box{
    position: relative;
    width: 106px;
    height: 106px;
    background-color: white;
    margin-top: 30px;
    margin-left: 15px;
}
#spoor_text{
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 20px;
    margin: 2px;
}
#spoor_num{
    font-size: 50px;
    color: #000066;
}
#blue_box{
    width: 25px;
    height: 25px;
    background-color: #000066;

}
#info{
    width: 560px;
    height: 340px;
    background-color: #06042b;
}
#info_content{
    position: relative;
    width: 500px;
    height: 175px;
    background-color: white;
}

#intercity{
    position: absolute;
    top: 0;
    right: 100px;
}
#ns_logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 40px;
}
.destinations{
    width: 498px;
    height: 33px;
    background-color: #000066;
    border: 1px solid white;
}
.departures{
    color: white;
    margin: 2px;
    font-size: 25px;
}
#clock_box{
    position: relative;
    width: 245px;
    height: 340px;
    background-color: white;
}
#clock{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 20px;
    top: 20px;
}
body{
    background-color: dimgray;
}